body {
    font-family: arvo;
}
header {
    background: blue;
    text-align: center;
    font-size: 60px;
    color: red;  
    border-bottom: 0px;
}

#search {
    background: yellow;
    text-align: center;
    color: black;
    

